/* ----- [공통] Header.CSS ----- */

/* util */
.util {
    padding-top: 40px; padding-bottom: 40px;
}

.util_row {
    display: flex; align-items: center; gap: 30px;
}

.util_row a {
    font-size: 15px;
    font-weight: 600;
    color: var(--grey-700);
}

.util_row i {
    font-size: 18px;
    font-weight: 600;
    color: var(--grey-700);
}

.util_row a:active {
    color: var(--red-900);
}

.util_name {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 25px;
    background-color: var(--red-900);
    border-radius: 5px;

    font-size: 15px;
    font-weight: 600;
    color: #ffffff;
}

.util_logo {
    flex: 0 0 auto;
}

.logo-img {
    display: block; width: 146px; height: 20px;
}

.util_spacer { flex:1 }

/* Global dropdown 영역 전체 */
.global-wrap {
    position: relative;
    display: inline-block;
}

/* Global 버튼 */
.global-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 600;
    color: var(--grey-700);
    cursor: pointer;
}

.global-btn.active {
    color: var(--red-900);
}

.global-btn.active i {
    color: var(--red-900);
}

.global-btn i {
    font-size: 15px;
}

/* 드롭다운 */
.global-dropdown {
    position: absolute;
    width: 120px;
    margin-top: 10px;
    padding: 20px;
    background: #ffffff;
    border-top: 2px solid var(--red-900);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    list-style: none;

    display: none;
    z-index: 500;
}

.global-dropdown.show {
    display: block;
}

/* 각 언어 항목 */
.global-dropdown li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    font-size: 15px;
    font-weight: 500;
    color: var(--grey-900);
    cursor: pointer;
    transition: background 0.2s ease;
}

.global-dropdown li:last-child {
    margin-bottom: 0;
}

.global-dropdown li:hover {
    color: var(--red-900);
}

.global-dropdown img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid var(--grey-300);
}

/* gnb */
.gnb {
    display: flex; align-items: center;
    height: 50px; background: var(--red-200);
}

.gnb_row {
    display: flex; justify-content: space-between; align-items: center;
    width: 1200px; overflow-x: visible; white-space: nowrap;
}

.menu {
    display: flex; flex-wrap: nowrap; white-space: nowrap;
    gap: 50px; font-size: 18px; font-weight: 700;
    position: relative; overflow-x: visible;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    top: 31px; /* gnb 아래쪽 */
    padding: 20px 15px;
    min-width: 150px;
    background: #ffffff;
    border-top: 5px solid var(--red-900);
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.submenu a {
    display: block;
    font-size: 15px;
    color: var(--grey-900);
    white-space: nowrap;
    margin-bottom: 15px;
}

.submenu a:last-child {
    margin-bottom: 0;

}

.submenu a:hover {
    color: var(--red-900);
}

/* JS 토글 시 열림 상태 */
.menu-item.active .submenu {
    display: block;
}

.gnb_row .gnb_text {
    display: flex; justify-content: right;
}

.gnb_text a {
    font-size: 18px; font-weight: 500;
    color: var(--red-500);
}

/* GNB_SUB */
.gnb_sub {
    margin-bottom: 40px;
    background: var(--red-700);
}

.gnb_sub_row {
    display: flex; align-items: center;
    width: 1200px; height: 30px;
}

.breadcrumb {
    display: flex; align-items: center;
    font-size: 14px; font-weight: 500; color: #ffffff;
}

.xi-angle-right-min { margin: 0 10px; } /* > 웹 아이콘 */

/* ----- [공통] Header.CSS 끝 ----- */