<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BNK부산은행::FAQ</title>

    <link rel="stylesheet" href="/src/main/resources/static/css/product/style_prodList.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/style_common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/xeicon.min.css">
</head>

<body>
<!-- 상단 유틸 -->
<div class="util">
    <div class="container util_row">
        <div class="util_spacer"></div>
        <img href="/src/main/resources/static/images/main/Busanbank_logo.png"></img>
        <a href="#">로그인</a>
        <a href="#">고객센터</a>
        <a href="#">은행소개</a>
        <a href="#">Global <i class="xi-caret-down-min"></i></a>
        <i class="xi-search"></i>
    </div>
</div>

<!-- GNB -->
<header class="gnb">
    <div class="container row">
        <a href="#" class="logo">BNK <span>부산은행</span></a>
        <nav class="menu">
            <a href="#">고객상담</a>
            <a href="#">이용안내</a>
            <a href="#">금융소비자보호</a>
            <a href="#">상품공시실</a>
            <a href="#">서식/약관/자료실</a>
        </nav>
    </div>
</header>

<div class="container">
    <div class="breadcrumb">고객센터 &gt; 고객상담 &gt; FAQ(자주하시는질문)</div>

</div>

<footer>
    <div class="container">
        <p>고객센터 1588-6200, 1544-6200 · 해외 +82-2-1588-6200</p>
        <p>© 2025 BUSANBANK. ALL RIGHTS RESERVED.</p>
    </div>
</footer>
</body>
</html>