<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BNK부산은행::faq</title>

    <link rel="stylesheet" href="/src/main/resources/static/css/common/style_common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/style_font.css">
    <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/cs/cs.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/_header.css">
    
    <script src="/src/main/resources/static/js/_header.js" defer></script>
</head>

<body>
    <!-- Header 부분 -->
    <section>
        <!-- 상단 유틸 -->
        <article class="util">
            <div class="container util_row">
                <img class="util_logo" src="/src/main/resources/static/images/main/Busanbank_logo.png" alt="BNK부산은행"></img>
                <div class="util_spacer"></div>
                <a href="#">로그인</a>
                <a href="#">고객센터</a>
                <a href="#">은행소개</a>
                <a href="#">Global <i class="xi-caret-down-min"></i></a>
                <i class="xi-search"></i>
            </div>
        </article>

        <!-- GNB -->
        <article class="gnb">
            <div class="container gnb_row">
            
                <nav class="menu">

                    <!-- 예금 -->
                    <div class="menu-item" data-menu="예금상품">
                        <a href="#" class="menu-active">예금상품</a>
                        <div class="submenu">
                            <a href="#">전체상품</a>
                            <a href="#">입출금자유</a>
                            <a href="#">일임형 ISA</a>
                            <a href="#">목돈만들기</a>
                            <a href="#">목돈굴리기</a>
                            <a href="#">주택마련</a>
                            <a href="#">스마트금융전용</a>
                            <a href="#">세테크</a>
                            <a href="#">복합금융상품</a>
                            <a href="#">판매중지상품</a>
                        </div>
                    </div>

                    <!-- 예금이용가이드 -->
                    <div class="menu-item" data-menu="예금이용가이드">
                        <a href="#">예금이용가이드</a>
                        <div class="submenu">
                            <a href="#">금융소득종합과세</a>
                            <a href="#">예금 FAQ</a>
                        </div>
                    </div>

                    <!-- 금융서비스 -->
                    <div class="menu-item" data-menu="금융서비스">
                        <a href="#">금융서비스</a>
                        <div class="submenu">
                            <a href="#">금융 감정 분석</a>
                            <a href="#">주거래고객우대통장</a>
                            <a href="#">예금보험제도</a>
                            <a href="#">증권계좌개설서비스</a>
                            <a href="#">대여금고이용안내</a>
                            <a href="#">전자어음이용안내</a>
                        </div>
                    </div>
                </nav>

                <div class="gnb_text">
                    <a href="#">금융을 편리하게. 미래를 풍요롭게.</a>
                </div>
            </div>
        </article>

        <!-- GNB-SUB -->
        <article class="gnb_sub">
            <div class="container gnb_sub_row">
                <a href="#" class="breadcrumb">예금상품<i class="xi-angle-right-min"></i></a>
                <a href="#" class="breadcrumb">입출금자유<!--<i class="xi-angle-right-min"></i>--></a>
                <!--<a href="#" class="breadcrumb">사장님 월급통장</a>-->
            </div>
        </article>
    </section>
    <!-- Header 끝 -->

<div class="container">
    <div class="breadcrumb">고객센터 &gt; 고객상담 &gt; FAQ(자주하시는질문)</div>
</div>

<div class="content-wrapper">
    <aside class="sidebar">
        <h3>고객상담</h3>
        <nav>
            <div class="sidebar-menu">
                <a href="#" class="toggle active">FAQ(자주하시는질문)</a>
            </div>
            <div class="sidebar-menu">
                <a href="#">(업무별)은행거래<br>필요서류 안내</a>
            </div>
            <div class="sidebar-menu">
                <a href="#">TALK상담</a>
            </div>
            <div class="sidebar-menu">
                <a href="#" >온라인상담</a>
            </div>
        </nav>

        <div class="sidebar-icons">
            <div><a href="#">
                <span>💬</span>
                <p>Talk상담</p>
            </a></div>
            <div><a href="#">
                <span>✉️</span>
                <p>메일상담</p>
            </a></div>
            <div><a href="#">
                <span>📄</span>
                <p>FAQ</p>
            </a></div>
        </div>
    </aside>

    <main>
        <h2>FAQ(자주하시는 질문)</h2>
        <div class="explain">
            <ul>
                <li>
                    부산은행 웹사이트 이용시 자주하는 질문을 정리하였습니다.
                </li>
                <li>
                    원하는 질문 및 답변을 바로 찾으시려면 검색을 이용하여 주십시오.
                </li>
            </ul>
        </div>
        <section class="searchwords">
            <div class="searchbar">
                <label for="faq-search">FAQ 검색</label>
                <input type="text" id="faq-search">
                <button>검색</button>
            </div>
            <div class="popular-words">
                <span>인기검색어</span>
                <span><a href="#">예금</a></span> 
                <span><a href="#">대출</a></span> 
                <span><a href="#">카드</a></span> 
                <span><a href="#">디지털OTP</a></span> 
                <span><a href="#">한도제한계좌</a></span> 
                <span><a href="#">모바일뱅킹</a></span> 
                <span><a href="#">국민주택채권</a></span>
            </div>
        </section>
        <section class="top-words">
            <a href="#">TOP</a>
            <a href="#">예금</a>
            <a href="#">카드</a>
            <a href="#">대출</a>
            <a href="#">펀드</a>
            <a href="#">외환</a>
            <a href="#">신탁</a>
            <a href="#">보험</a>
            <a href="#">인터넷뱅킹</a>
            <a href="#">모바일뱅킹</a>
            <a href="#">텔레뱅킹</a>
            <a href="#">공동인증서</a>
            <a href="#">금융인증서</a>
            <a href="#">기타</a>
        </section>
        <section class="question">
        <ul>
            <li>
            <div class="faq-question">
                <span class="q-icon">Q</span>
                대출 만기가 되었는데, 기한연장 가능한가요?
            </div>
            <div class="faq-answer">
                기한연장 요청 시 기한연장 시점의 신용도 등을 종합적으로 고려하여 
                기한연장 가부가 결정됩니다.<br>
                신용이 허락될 경우 대출금의 일부를 상환하거나 담보제공 대출인 경우 
                담보물 가액 하락 시 추가담보를 설정하는 것으로 기한연장이 가능합니다.
            </div>
            </li>

            <li>
            <div class="faq-question">
                <span class="q-icon">Q</span>
                [모바일뱅킹] 통장사본 발급 할 수 있나요?
            </div>
            <div class="faq-answer">
                모바일뱅킹 앱에서 로그인 후 ‘증명서 발급’ 메뉴를 통해 통장사본을 확인 및 저장할 수 있습니다.
            </div>
            </li>

            <li>
            <div class="faq-question">
                <span class="q-icon">Q</span>
                [개인뱅킹] 인터넷뱅킹 이체한도 상향은 어떻게 하나요?
            </div>
            <div class="faq-answer">
                이체한도 상향은 보안매체 또는 본인 인증 후 가능합니다. 자세한 절차는 고객센터로 문의해주세요.
            </div>
            </li>
        </ul>
        </section>

        <div class="pagination">
            <a href="#">&laquo;&laquo;</a>   
            <a href="#">&laquo;</a>         
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">&raquo;</a>        
            <a href="#">&raquo;&raquo;</a>  
        </div>  
    </main>
</div>

<footer>
        <section class="footer">
            <div class="container">
                <div class="f-link">
                    <a href="#" class="link-active">개인정보처리방침</a>
                    <a href="#">고객정보취급방침</a>
                    <a href="#">보호금융상품등록부</a>
                    <a href="#">경영공시</a>
                    <a href="#">상품공시실</a>
                    <a href="#">전자민원접수</a>
                    <a href="#">전자금융이용자보호수칙</a>
                    <a href="#">전자금융사기피해금환급제도</a>
                    <a href="#">위치기반서비스 이용약관</a>
                </div>
                <div class="f-number">
                    고객센터<strong>1588-6200, 1544-6200</strong>, 해외<strong>+82-2-1588-6200</strong>
                </div>
                <div class="f-copy">COPYTRIGHT © 2014 BUSANBANK. ALL RIGHTS RESERVED.</div>
                <button id="topBtn" class="top-btn" aria-label="맨 위로 이동">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevrons-up-icon lucide-chevrons-up">
                        <path d="m17 11-5-5-5 5"/>
                        <path d="m17 18-5-5-5 5"/>
                    </svg>
                </button>
            </div>
        </section>
    </footer>
</body>
</html>

