<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>BNK부산은행::prodList</title>

    <link rel="stylesheet" href="/src/main/resources/static/css/common/style_common.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/common/style_font.css">
    <link href="//cdn.jsdelivr.net/xeicon/2/xeicon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/src/main/resources/static/css/cs/cs.css">
    <link rel="stylesheet" href="/src/main/resources/static/css/_header.css">
    
    <script src="/src/main/resources/static/js/_header.js" defer></script>
</head>

<body>
    <!-- Header 부분 -->
    <section>
        <!-- 상단 유틸 -->
        <article class="util">
            <div class="container util_row">
                <img class="util_logo" src="/src/main/resources/static/images/main/Busanbank_logo.png" alt="BNK부산은행"></img>
                <div class="util_spacer"></div>
                <a href="#">로그인</a>
                <a href="#">고객센터</a>
                <a href="#">은행소개</a>
                <a href="#">Global <i class="xi-caret-down-min"></i></a>
                <i class="xi-search"></i>
            </div>
        </article>

        <!-- GNB -->
        <article class="gnb">
            <div class="container gnb_row">
            
                <nav class="menu">

                    <!-- 예금 -->
                    <div class="menu-item" data-menu="예금상품">
                        <a href="#" class="menu-active">예금상품</a>
                        <div class="submenu">
                            <a href="#">전체상품</a>
                            <a href="#">입출금자유</a>
                            <a href="#">일임형 ISA</a>
                            <a href="#">목돈만들기</a>
                            <a href="#">목돈굴리기</a>
                            <a href="#">주택마련</a>
                            <a href="#">스마트금융전용</a>
                            <a href="#">세테크</a>
                            <a href="#">복합금융상품</a>
                            <a href="#">판매중지상품</a>
                        </div>
                    </div>

                    <!-- 예금이용가이드 -->
                    <div class="menu-item" data-menu="예금이용가이드">
                        <a href="#">예금이용가이드</a>
                        <div class="submenu">
                            <a href="#">금융소득종합과세</a>
                            <a href="#">예금 FAQ</a>
                        </div>
                    </div>

                    <!-- 금융서비스 -->
                    <div class="menu-item" data-menu="금융서비스">
                        <a href="#">금융서비스</a>
                        <div class="submenu">
                            <a href="#">금융 감정 분석</a>
                            <a href="#">주거래고객우대통장</a>
                            <a href="#">예금보험제도</a>
                            <a href="#">증권계좌개설서비스</a>
                            <a href="#">대여금고이용안내</a>
                            <a href="#">전자어음이용안내</a>
                        </div>
                    </div>
                </nav>

                <div class="gnb_text">
                    <a href="#">금융을 편리하게. 미래를 풍요롭게.</a>
                </div>
            </div>
        </article>

        <!-- GNB-SUB -->
        <article class="gnb_sub">
            <div class="container gnb_sub_row">
                <a href="#" class="breadcrumb">예금상품<i class="xi-angle-right-min"></i></a>
                <a href="#" class="breadcrumb">입출금자유<!--<i class="xi-angle-right-min"></i>--></a>
                <!--<a href="#" class="breadcrumb">사장님 월급통장</a>-->
            </div>
        </article>
    </section>
    <!-- Header 끝 -->

<div class="container">
    <div class="breadcrumb">고객센터 &gt; 고객상담 &gt; FAQ(자주하시는질문)</div>
</div>

<div class="content-wrapper">
    <aside class="sidebar">
        <h3>고객상담</h3>
        <nav>
            <div class="sidebar-menu">
                <a href="#">FAQ(자주하시는질문)</a>
            </div>
            <div class="sidebar-menu">
                <a href="#">(업무별)은행거래<br>필요서류 안내</a>
            </div>
            <div class="sidebar-menu">
                <a href="#">TALK상담</a>
            </div>
            <div class="sidebar-menu">
                <a href="#" class="toggle active">온라인상담</a>
            </div>
        </nav>

        <div class="sidebar-icons">
            <div><a href="#">
                <span>💬</span>
                <p>Talk상담</p>
            </a></div>
            <div><a href="#">
                <span>✉️</span>
                <p>메일상담</p>
            </a></div>
            <div><a href="#">
                <span>📄</span>
                <p>FAQ</p>
            </a></div>
        </div>
    </aside>

    <main>
        <h2>이메일상담</h2>
        <div class="explain">
            <ul>
                <li>
                    홈페이지에서 게시판에 상담내용을 등록하는 방식으로 상담 결과는 [마이페이지>나의상담내역>인터넷상담내역] 에서 확인할 수 있습니다.

                </li>
                <li>
                    온라인상담은 실시간 상담이 아니며, 은행업무시간 이후 및 공휴일에 접수된 문의는 담당자 지정 후 다음 영업일에 처리됩니다.
                </li>
                <li>
                    토요일 공휴일 및 주말 연휴로 상담이 집중 될 경우 답변이 다소 지연될 수 있음을 양해해 주시기 바랍니다.
                </li>
            </ul>
        </div>

    <div class="form-wrapper">
        <h3>정보입력</h3>

        <form class="inquiry-form">
        <table>
            <tr>
                <th>문의분야</th>
                <td>
                    <select>
                    <option>선택하세요</option>
                    <option>예금</option>
                    <option>대출</option>
                    <option>카드</option>
                    <option>기타</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>성명</th>
                <td><input type="text" value="우지희" readonly></td>
            </tr>

            <tr>
                <th>E-mail<span class="required">*</span></th>
                <td class="email-row">
                    <input type="text" class="email-id"> @
                    <input type="text" class="email-domain">
                    <select>
                    <option>직접입력</option>
                    <option>naver.com</option>
                    <option>gmail.com</option>
                    <option>hanmail.net</option>
                    </select>
                </td>
            </tr>

            <tr>
                <th>선택입력사항</th>
                <td>
                    <div class="phone-row">
                    <label><input type="checkbox">휴대폰</label>
                    <input type="text" maxlength="12">
                    </div>
                </td>
            </tr>

            <tr>
                <th>제목<span class="required">*</span></th>
                <td><input type="text" class="subject"></td>
            </tr>

            <tr>
                <th>내용<span class="required">*</span></th>
                <td>
                    <textarea rows="6"></textarea>
                    <p class="note">* 한글 1000자 이내 (영문 2000자) 까지 입력하실 수 있습니다.</p>
                </td>
            </tr>
        </table>
        <div class="on-btn-area">
            <button type="submit">등록</button>
        </div>
        </form>
    </section>

    </main>
</div>


<footer>
        <section class="footer">
            <div class="container">
                <div class="f-link">
                    <a href="#" class="link-active">개인정보처리방침</a>
                    <a href="#">고객정보취급방침</a>
                    <a href="#">보호금융상품등록부</a>
                    <a href="#">경영공시</a>
                    <a href="#">상품공시실</a>
                    <a href="#">전자민원접수</a>
                    <a href="#">전자금융이용자보호수칙</a>
                    <a href="#">전자금융사기피해금환급제도</a>
                    <a href="#">위치기반서비스 이용약관</a>
                </div>
                <div class="f-number">
                    고객센터<strong>1588-6200, 1544-6200</strong>, 해외<strong>+82-2-1588-6200</strong>
                </div>
                <div class="f-copy">COPYTRIGHT © 2014 BUSANBANK. ALL RIGHTS RESERVED.</div>
                <button id="topBtn" class="top-btn" aria-label="맨 위로 이동">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"
                        fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-chevrons-up-icon lucide-chevrons-up">
                        <path d="m17 11-5-5-5 5"/>
                        <path d="m17 18-5-5-5 5"/>
                    </svg>
                </button>
            </div>
        </section>
    </footer>
</body>
</html>