/*
    날짜 : 2025/11/21
    이름 : 오서정
    내용 : 챗봇 css 작성
*/
.chatbot-button{
    border: none;
    outline: none;
    background-color: inherit ;
    cursor: pointer;
}

.chatbot-button img{
    width: 90px;
}

.chatbot-button:hover{
    transform: scale(1.1);
}


.modal-overlay {
    display:none;
    position:fixed;
    top:0; left:0;
    width:100%; height:100%;
    background:rgba(0,0,0,0.4);
    z-index:9999;
}

.modal-container {
    background:white;
    width:450px;
    height:600px;
    margin:70px auto;
    padding:20px 20px 0 20px;
    border-radius:15px;
    position:relative;
    display:flex;
    flex-direction:column;
    box-shadow:0 4px 20px rgba(0,0,0,0.1);
}


.modal-close {
    position:absolute;
    top:10px; right:10px;
    background:none;
    border:none;
    font-size:22px;
    cursor:pointer;
    color:#333;
}


.modal-title {
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#D85258;
    margin-bottom:15px;
}


.chat-content {
    flex:1;
    overflow-y:auto;
    border:1px solid #eee;
    padding:10px;
    border-radius:10px;
    background:#fff;
    margin-bottom:10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}


.chat-input-area {
    display:flex;
    gap:8px;
    padding:10px 0;
    border-top:1px solid #eee;
}

.chat-input {
    flex:1;
    border:1px solid #ccc;
    border-radius:8px;
    padding:10px;
}


.chat-send-btn {
    background:#D85258;
    color:white;
    padding:10px 14px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

/* ===== 말풍선 스타일 ===== */

.bot-msg {
    max-width:75%;
    background:#f2f2f2;
    padding:10px 14px;
    border-radius:12px;
    color:#333;
    align-self:flex-start;
    border:1px solid #ddd;
}

.user-msg {
    max-width:75%;
    background:#D85258;
    padding:10px 14px;
    border-radius:12px;
    color:white;
    align-self:flex-end;
}

.keyword-area {
    display:flex;
    gap:8px;
    margin-bottom:10px;
}

.keyword-btn {
    padding:8px 10px;
    background:#eee;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:14px;
}
.keyword-btn:hover {
    background:#ddd;
}